@font-face {
    font-family: Lobster;
    src: url(/fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: Play;
    src: url(/fonts/Play-Regular.ttf);
}

@font-face {
    font-family: PlayBold;
    src: url(/fonts/Play-Bold.ttf);
}

* {
	font-family: 'Play';
	font-size: 1em;
}

h1 {
    text-align: center;
    color: #415da6;
    font-weight: bold;
}

.first-window {
    background: url('/images/first-bg-1.jpg') no-repeat center;
    background-size: cover;
//    min-height: 100%;
    background-attachment: fixed
}

html, body {
    height: 100%;
}

.main-wrap {
    min-height: 100%;
    padding-bottom: 300px;
}


p, .statiya ul {
//	font-size: 1.3em;
	font-size: 18.5px;
}

body #fancybox-close {
	right: -35px;
}

.phone-main {
    font-size: 40px;
}

.statiya p {
	text-indent: 1.5em;
}

.statiya h2,
.statiya h3,
.statiya h4 {
	color:  #4475a6;
    margin-top: 30px;
}

.statiya h2 a,
.statiya h3 a,
.statiya h4 a  {
	color:  #4475a6;
	text-decoration: none;
}

.statiya h4 {
    font-size: 19px;
    font-weight: bold;
}

.top-menu {
	background: #61a5ed;
	background: -moz-linear-gradient(left, #61a5ed 0%, #415da6 100%);
	background: -webkit-linear-gradient(left, #61a5ed 0%,#415da6 100%);
	background: linear-gradient(to right, #61a5ed 0%,#415da6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a5ed', endColorstr='#415da6',GradientType=1 );
  position: -webkit-sticky;
	position: sticky;
  top: 0;
  z-index: 10;
}

.top-menu .row {
  position: relative;
}

.first {
    padding-top: 15px;
    padding-bottom: 15px;
}

.first .icon {
	position: relative;
	overflow: hidden;
	display: block;
  height: 200px;
	background: #61a5ed;
/*  
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
*/
}

.first .icon  .first-caption {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 8px;

    background: rgba(168, 198, 253, 0.5);
		font-family: 'Play';
		font-size: 14px;
}

.first .icon img {
    width: 100%;
    transition: width 1s;
}

.first .icon img:hover {
    width: 110%;
//    margin-left: -5%;
//    margin-top: -5%;
}

.first-form-cont {
	background: rgba(255, 255, 255, 0.8);
	margin-bottom: 30px;
	border: solid 1px #60a5ed;
}
.first-form .err {
	border: solid 1px red;
}

.main-icons {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-memu-list {
  display: inline-block;
}

.top-memu-list a {
	font-family: 'Play';
	font-size: 14px;
}

.top-memu-list {
    margin: 0;
    padding: 15px;
}

.top-memu-list ul {
	display: none;
}

.top-memu-list li {
    display: inline-block;
    list-style-type: none;
}

.top-memu-list li:hover ul {
	display: block;
	position: absolute;
}

.top-memu-list li +li {
    margin-left: 20px;
}

.top-memu-list li  a{
//    text-decoration: none;
    font-size: 16px;
    color: white;
}

.enter {
  padding: 15px 50px;
  color: white;
  cursor: pointer;
  position: relative;
}

.enter:hover {
	color: white;
}

.enter .login {
  top: 11px;
  margin-left: 8px;
  position: absolute;
  font-size: 30px;
  color: white;
}

#login {
  display: none;
  position: absolute;
  top: 51px;
  right: 0;
  background: #415da6;
  padding: 20px;
}

.show #login {
	display: block; 
}

#login input {
	margin: 10px 0;
}

#login a {
	color: white;
  margin-left: 8px;
}

#login .fa-times {
  color: white;
  padding: 10px 0 20px;
  cursor: pointer;
}

.log-out {
  display: inline;
}

.second-window {
	background: #61a5ed;
	padding-top: 30px;
	padding-bottom: 30px;
}

.second-window a {
	text-decoration: none;
	color: white;
}

.second-window a:hover {
	color: white;

}

.wnd h2  {
	text-align: center;
	margin-bottom: 30px;
}

.wnd h2  a {
	text-decoration: none;
}

.third-window h2 a {
		color: #61a5ed;
}

.third-window h2 a:hover {
	color: #61a5ed;
}

.wind-inner .contact {
	margin-bottom: 30px;
	font-size: 16px;
}

.wind-inner .contact p {
	color: white;
}

.wind-inner .contact p.arrd-h1 {
	font-size: 17px;
	font-weight: bold;
}

.third-window {
	background: url('/images/parthner.jpg') no-repeat center top;
	background-size: cover;
	min-height: 300px;
}

.third-window .wind-inner p {
	color: black;
	font-size: 16px;
}

.third-window h3 {
	text-align: center;
}

.first-form {
	padding-top: 30px;
	padding-bottom: 30px;
}

.first-form .btn {
    margin-top: 15px;
}

.first-form  .form-group {
    margin-bottom: 15px;
}

footer {
    background: #4475a6;
    color: white;
    min-height: 300px;
}

.main-wrap + footer {
    margin-top: -300px;
}

footer .container {
    padding-top: 15px;
    padding-bottom: 15px;    
}

.footer-caption,
.footer-caption a {
    font-weight: bold;
    font-size: 17px;
    color: #cccccc;
}

.img-list li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lk-menu {
  background: #e6e6e6;
  padding: 0;
  margin: 0;
}

.lk-menu li {
  list-style-type: none;
}

.lk-menu li a {
  display: block;
  padding: 15px;
  cursor: pointer;
}

.lk-menu li.active a {
  background: #f2f2f2;
}

.lk-menu li a:hover {
  background: #cccccc;
}
  
footer ul, .img-list {
    padding-left: 0;
}

footer li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer li a {
    color: #ccdbea;
}

footer li a:hover {
    color: white;
}

.scroll-to-top {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #404040;
	border-radius: 7px 7px 0 0;
	bottom: 0px;
	color: #bababa; 
	display: block;
	height: 9px;
	opacity: 0;
	padding: 13px 0 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	width: 49px;
	z-index: 1040;
}

.scroll-to-top:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	color: white;

}

.scroll-to-top.visible {
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.img-caption {
	font-weight: bold;
	font-style: italic;
	padding: 5px 0 10px;
}

.statiya .img-caption {
	font-size: 15px;
}

.warn {
	color: red;
}

@media screen and (max-width: 768px) {
    .first .icon {
       // height: 500px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .col-xs-12.main-icons {
        width: 50%;
    }
}

